<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description | default: site.description | strip_html | strip_newlines | escape }}">
<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
<link rel="icon" href="{{ '/assets/img/logo.png' | relative_url }}" type="image/png">
